/* Custom CSS declarations for Preservation Utah */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&display=swap');

/* Typography */
html {font-size: 100%;} /*16px*/
body, body.dark p, li, .auth-options li a {
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    color: #272123;
}
body {
  position: relative;
}
/* Colors */
.g-bg-primary, .u-btn-primary {
    background-color: #F44A37 !important;
}
.g-bg-primary--hover:hover, .u-btn-primary--hover:hover {
  background-color: #F44A37 !important;
  border-color: #f44a37 !important;
}
.g-bg-secondary {
  background-color: #272123 !important;
}
.g-color-primary, a {
  color: #F44A37 !important;
}
.u-block-hover:hover .g-color-primary--hover, .g-color-primary--hover:hover, a:hover {
  color: #F44A37 !important;
}
.g-parent:hover .g-color-primary--parent-hover {
  color: #F44A37 !important;
}
.g-bg-tertiary {
    background-color: #E5EED3 !important;
}

/* Navbar */
.navbar-nav {
  list-style: none;
}
.navbar-brand img {
  height: auto;
  width: 251px;
}
.navbar-nav>li>a {
    font-size: 1em;
    font-weight: 200;
    font-family: 'Hind',  sans-serif;
}
.u-header__section--dark .navbar-nav:not([class*="u-main-nav-v"]) .nav-link,
.u-header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .nav-link
{
  color: rgba(255, 255, 255, 1) !important;
}
.u-header__section--dark .navbar-nav:not([class*="u-main-nav-v"]) .nav-link:focus,
.u-header__section--dark .navbar-nav:not([class*="u-main-nav-v"]) .nav-link:hover,
.u-header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .nav-link:focus,
.u-header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .nav-link:hover
{
    color: #E5EED3 !important;
}
.u-header__section--dark .navbar-nav:not([class*="u-main-nav-v"])  .active,
.u-header__section--dark--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"])  .active
{
    color: #272123 !important;
}
.navbar {
  background-color: rgba(244,74,55,1);
}
.sticky-top {
    transition: all 0.25s ease-in;
}
/* style for when sitcky is applied */
.stuck .sticky-top {
    background-color: rgba(244,74,55,0.6) !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    color: #fff;
}
.stuck  {
  background-color: rgba(244,74,55,0.6) !important;
}
.stuck img {
  width: 125px !important;
}
a.nav-link.px-0.active {
  color: #272123 !important;
}


/* Slide Carousel */
#slider {
  overflow: hidden;
}

#slider h1 {
  font-weight: 700;
  font-size: 3.5em;
}
@media (min-width: 1537px) {
  #slider h1 {
    font-size: 4.25em;
    }
      #slider .g-bottom-0 {
        bottom: 25%;
      }
}

/* Preservation Directory */
.g-bg-black-gradient-opacity-v5,
.g-bg-black-gradient-opacity-v5--after::after {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(47%, #272123), color-stop(75%, rgba(39, 33, 35, 0)));
  background-image: -webkit-linear-gradient(left,#272123 47%, rgba(39, 33, 35, 0) 75%);
  background-image: -o-linear-gradient(left, #272123 47%, rgba(39, 33, 35, 0) 75%);
  background-image: linear-gradient(to right, #272123 47%, rgba(39, 33, 35, 0) 75%);
  background-repeat: repeat-x;
}

/* Footer */
#copyright img {
  width: 200px;
}
address li, footer li {
  color: white;
}
