*.pyc
*.log
pkg/business_data
presutah/logs
presutah/export_deliverables
presutah/cantaloupe/*
presutah/media/packages
presutah/uploadedfiles/*
presutah/settings_local.py
presutah/system_settings/System_Settings.json
CACHE/
.vscode/
