.carousel-container {
    display: none;
    visibility: hidden;
}

.img-report-print-only {
    display: block;
    visibility: visible;
    height: 100%;
    width: auto;
    flex: 1;
    max-width: calc(100% / 4);
    object-fit: cover;
}

.img-report-print-only-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 350px;
}