/* Custom CSS declarations for Preservation Utah */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&display=swap');
html {font-size: 100%;} /*16px*/
body, body.dark p, li, .auth-options li a {
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    color: #272123;
}

/* Side navbar */
#mainnav-container, #mainnav, #mainnav-menu>.active, .brand-title, .sub-menu ul, .menu-popover, .menu-popover .popover-title, .menu-popover .single-content, #mainnav-menu>li>a  {
    background-color: #272123 !important;
}
#mainnav-menu>li>a:hover, .link-submenu-item a:hover,  .menu-popover .popover-title:hover, .menu-popover .single-content:hover {
    background-color:#F44A37 !important;
    box-shadow:none !important;
    text-decoration: none;
}
#mainnav-menu>li>a.hover {
  box-shadow: inset 4px 0 0 0 #F44A37;
}

/* Top navbar */
.ep-toolbar {
    background: #F44A37;
    border-bottom: 1px solid #fff;
}
h1.page-header {
  font-weight: 700;
  color: white;
  font-size: 2em;
}
.ep-graph-title {
    font-size: 2em;
    padding-left: 5px;
    padding-top: 10px;
}
.ep-graph-title-icon {
    height: 40px;
    width: 40px;
    transform: translate(0px, 0px);
    color: white;
    background: transparent;
    border: none;
}
.ep-tools {
    background: #F44A37;
    border-bottom: none;
    color: white;
    font-size: 1.4em;
    margin-top: 24px;
    margin-bottom: 20px;
}
.ep-tools h3 {
  margin: 0px;
}
