/* Custom CSS declarations for Preservation Utah */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&display=swap');
html {font-size: 100%;} /*16px*/
body, body.dark p, li, .auth-options li a {
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    color: #272123;
}

/* Side navbar */
#mainnav-container, #mainnav, #mainnav-menu>.active, .brand-title, .sub-menu ul, .menu-popover, .menu-popover .popover-title, .menu-popover .single-content, #mainnav-menu>li>a  {
    background-color: #272123 !important;
}
#mainnav-menu>li>a:hover, .link-submenu-item a:hover,  .menu-popover .popover-title:hover, .menu-popover .single-content:hover {
    background-color:#F44A37 !important;
    box-shadow:none !important;
    text-decoration: none;
}
#mainnav-menu>li>a.hover {
  box-shadow: inset 4px 0 0 0 #F44A37;
}

/* Top navbar */
.ep-toolbar {
    background: #F44A37;
    border-bottom: 1px solid #fff;
}
h1.page-header {
  font-weight: 700;
  color: white;
  font-size: 2em;
}
.ep-graph-title {
    font-size: 2em;
    padding-left: 5px;
    padding-top: 10px;
}
.ep-graph-title-icon {
    height: 40px;
    width: 40px;
    transform: translate(0px, 0px);
    color: white;
    background: transparent;
    border: none;
}
.ep-tools {
    background: #F44A37;
    border-bottom: none;
    color: white;
    font-size: 1.4em;
    margin-top: 24px;
    margin-bottom: 20px;
}
.ep-tools h3 {
  margin: 0px;
}

/* Buttons */
.btn-primary, .btn-hover-primary:active, .btn-hover-primary.active, .btn.btn-active-primary:active, .btn.btn-active-primary.active, .dropdown.open>.btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover {
  background-color: #272123 !important;
  border-color: #272123 !important;
}
.btn-primary:hover {
  background-color:#F44A37 !important;
}

/* Search area */
#content-container {
  background-color: #e9e5e7;
}
.search-count-container {
    padding: 10px 20px;
    background: white;
    border-bottom: 1px solid #cac1c4;
    text-align-last: justify;
    height: 40px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.search-control-container {
    background-color: white !important;
    border-top: 1px solid #cac1c4;
    overflow-y: scroll;
}
.search-toolbar {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 51px;
    background: #f9f8f8;
    border-bottom: solid 0px #cac1c4;
}
.search-type-btn {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    min-width: 150px;
    border-color: #cac1c4;
    border-top: none;
    border-right: 1px solid;
    background: #e9e5e7;
    z-index: 1000;
    margin-left: -5px;
    border-width: 1px;
    border-bottom: none;
    border-right: 1px solid #cac1c4;
}
.search-type-btn .active {
    border-right: 1px solid #cac1c4;
    border-left: 1px solid #cac1c4;
}
.search-type-btn-popup {
    height: 50px;
    width: 50px;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #555;
    border-color: white;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background: #e9e5e7;
    border-width: 1px;
    z-index: 1000;
}

/* Forms */
.select2-container {
    border: 1px solid #cac1c4;
}
.select2-container.select2-container-active.select2-dropdown-open, .select2-drop-active {
    border: 1px solid #F44A37;
}
.resource_search_widget_dropdown .select2-results {
    background: #f9f8f8;
    border-top: 1px solid #F44A37;
}
.resource_search_widget_dropdown.select2-drop-active {
    border-color: #F44A37;
}

/* Login page */
.img-login {
    background-image: url(../img/backgrounds/aerial.jpg);
}
.arches-signin .panel-body {
  background-color: #F44A37;
  color: white;
}
.arches-signin-subtext {
    color: white;
}

.arches-signin .login-panel {
    border: 1px solid white;
}

.arches-signin .panel-footer {
  background-color: white;
}
.arches-signin .form-control {
  font-size: 1em;
}
.cls-container .account-management a {
    color: white;
    font-size: 1em;
}
.arches-signin img {
  width: 100%;
}
